// * OVERRIDE BULMA CLASSES HERE

@import '~bulma/bulma.sass';
@import "~video-react/styles/scss/video-react";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// * HOME
.home{
  margin-top: 230px;
  .home-section {
    margin-bottom: 20px;
  }
  .carousel-wrapper{
    // margin: auto;
    // width: 100%;
    // height: 150%;
    #image0{
      background-image: url('./assets//homeCarousel/image0.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #image1{
      background-image: url('./assets//homeCarousel/image1.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #image3{
      background-image: url('./assets//homeCarousel/image3.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .carousel-image {
      height: 350px;
      // width: 100%;
    }
  }
  .video-wrapper{
    margin-bottom: 10px;
    // margin-top: 24px;
    margin: auto;
    padding: 10px;
    width: 70%;
    // height: 50%;
    border: 2px solid black;
    // .video-player {
    //   height: 80%;
    // }
  }
  .offerings{
    margin: auto;
    width: 90%;
    margin-top: 10px;
    article.message#box1:hover{
        background-color: rgba(253, 253, 150, 1);
    }
    article.message#box2:hover{
        background-color: rgba(104, 171, 247, 0.5);
    }
    article.message#box3:hover{
      background-color: rgba(0, 0, 0, 0.3);
    }
    article.message#box4:hover{
        background-color: rgba(119,221,119, 0.5);

    }
    article.message#box5:hover{
        background-color: rgba(240, 18, 66, 0.3);
    }
    article.message#box6:hover{
        background-color: rgba(87, 245, 171, 0.4);
    }
  }
  .animate__animated.animate__fadeInUp {
    --animate-duration: 3s;
    margin-bottom: 40px;
    .s-kids-name {
      color: rgba(207, 55, 44, 1);
    }
  }
  .home-subtitle {
    width: 65%;
    margin: auto;
  }
}


// * FOOTER
.footer {
  background-color: rgba(207, 55, 44, 1);
  margin-top: 40px;
  height: 170px;
  position: sticky;
  padding: 60px;
  box-sizing: border-box;
  .footer-container {
    margin: auto;
    width: 90%;
    margin-top: 20px;
  }
  .social-links li{
    display: inline-block;
    margin-right: 24px;
    font-size: 65px;
    position: relative;
    top: -24px;
    left: 2px;
    a {
      color: #ffffff;
    }
    .facebook:hover,
    .facebook:active {
    color: #3b5998;
    }
    .twitter:hover,
    .twitter:active {
    color: #55acee;
    }
    .instagram:hover,
    .instagram:active {
    color: #e95950;
    }
  }

  .social-links li :last-child {
    margin-right: 0;
  }
  .policy {
    p{
      display: inline-block;
      margin-right: 24px;
      margin-bottom: 20px;
      text-decoration: underline;
    }
    p:last-child{
      margin-left: 8px;
      margin-right: 0;
    }
  }
}

// * DIVIDER
.divider{
  position: relative;
  min-width:2px;
  max-width:2px;
  background-color:#000;
  display:inline-block;
  margin:0 25px 0 25px;
}


// * ABOUT
.about {
  margin-top: 218px;
  .about-rene, .about-ola{
    margin-top: 60px;
    margin-left: 60px;
  }
  .about-ola {
    margin-right: 40px;
  }
  .coaches {
    text-align: center;
  }
}


//* SCHOOL SERVICES
.school-services{
  margin-top: 218px;
  .school-services-carousel{
    width: 50em;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-top: 30px;
    #image0{
      background-image: url('./assets//homeCarousel/image0.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #image1{
      background-image: url('./assets//homeCarousel/image1.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    #image3{
      background-image: url('./assets//homeCarousel/image3.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .school-carousel-image {
      height: 500px;
    }
  }
  .info-and-testimonial{
  display: flex;
  margin: 0 30px 0 30px;
  }
  .school-services-info{
    width: 70%;
  }
  .school-services-testimonial{
    width: 30%
  }
  .school-services-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('https://images.myguide-cdn.com/algarve/events/large/multi-sports-activities-for-the-kids-at-the-campus-608635.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    padding: 40px;
  }
}



//* WHATS ON
.whatson{
  margin-top: 218px;
  .whatson-info{
    display: flex;
    margin: 0 30px 0 30px;
    padding-top: 50px;
    .whatson-event{
      width: 70%;
    }
    .whatson-directions{
      width: 30%;
    }
  }
}

.no-event {
  margin-top: 225px;
}

// * MULTISPORTS
.multisports{
  margin-top: 218px;
  .infos-and-testimonial{
    display: flex;
    margin: 0 30px 0 30px;
    }
    .multisports-info{
      width: 70%;
      margin: auto;
      display: flex;
      img {
        width: 400px;
        height: 300px;
        margin: auto;
      }
      p {
        width: 50%;
        margin: auto;
      }
    }
    .multisports-services-testimonial{
      width: 30%
    }
    .multi-sports-background {
      background-image: linear-gradient( rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('https://sportforlife.ca/wp-content/uploads/2018/09/Multisport.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      padding: 24px;
      height: 300px;
    }
}


// * NAVBAR
.navbar{
  font-family: 'Work Sans', sans-serif;
  left: 0;
  top: 0;
  // height: 150px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  // background-color: whitesmoke;
  width: 100%;
  .nav-top{
    // height: 100px;
    display: flex;
    justify-content: space-between;
    .contact{
      display: flex;
      margin-top: 20px;
      margin-right: 100px;
      // font-size: 1.4em;
      padding: 0 8px;
      .email{
        display: flex;
        align-items: center;
        padding-right: 20px;
        p {
          // font-size: 24px;
          // line-height: 145%;
          ion-icon{
            margin-right: 18px;
            font-size: 68px;
            position: relative;
            // top: 14px;
            left: 9px;
          }
        }
      }
      .phone-number{
        display: flex;
        align-items: center;
        // margin-top: 5px;
        p {
          // font-size: 28px;
          // line-height: 145%;
          ion-icon{
            margin-right: 18px;
            font-size: 68px;
            position: relative;
            // top: 12px;
            left: 12px;
          }
        }
      }
    }
    #sk-logo{
      margin: 10px 0 0 40px;
      height: 7em;
      padding: 6px 10px;
    }
  }
  hr.nav-divider{
    margin:0;
    width:96%;
    margin-left: 2%;
  }
  .nav-bottom{
    .menu-port{
      position: fixed;
      background-color: white;
      // height: 50px;
      width: 100%;
      margin-top: 0;
      .links{
        // display: flex;
        // justify-content: space-around;
        // margin-top:0.2em;
        // padding-bottom: 0.5em;
        // font-size: 20px;
        display: flex;
	      flex-direction: row;
	      flex-wrap: nowrap;
	      justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: large;
        // .nav-link{
        //   text-decoration: none;
        // }
        // .nav-link:hover,
        // .nav-link:active {
        //   background-color: #f5efef;
        //   color: #cf1b1b;
        //   transition: background-color 0.10s;
        // }
        //* Removed the is:active and Ive also commented out the bits that arent having an effect.
        .nav-link-home{
          display: flex;
          justify-content: center;
          align-items: center;
          width:16%;
          height: 50px;
          // a.nav-link{
          //   color: #404040;
          // }
        }
        .nav-link-home:hover{
          background-color: rgba(241, 120, 55, 0.6);
          border-left: rgba(241, 120, 55, 1) solid 3px;
          // color: white;
          transition: background-color 0.80s;
          .nav-link{
            margin-left: -3px;
          }
        }
        .nav-link-about{
          display: flex;
          justify-content: center;
          align-items: center;
          width:16%;
          height: 50px;
        }
        .nav-link-about:hover{
          background-color: rgba(255, 239, 0, 0.4);
          border-left: rgba(255, 239, 0, 1) solid 3px;
          // color: white;
          transition: background-color 0.80s;
          .nav-link{
            margin-left: -3px;
          }
        }
        .nav-link-multi-sport-services{
          display: flex;
          justify-content: center;
          align-items: center;
          width:16%;
          height: 50px;
        }
        .nav-link-multi-sport-services:hover{
          background-color: rgba(22, 227, 40, 0.4);
          border-left: rgba(22, 227, 40, 1) solid 3px;
          // color: white;
          transition: background-color 0.80s;
          .nav-link{
            margin-left: -3px;
          }
        }
        .nav-link-school-services{
          display: flex;
          justify-content: center;
          align-items: center;
          width:16%;
          height: 50px;
        }
        .nav-link-school-services:hover{
          background-color: rgba(23, 124, 232, 0.5);
          border-left: rgba(23, 124, 232, 1) solid 3px;
          // color: white;
          transition: background-color 0.80s;
          .nav-link{
            margin-left: -3px;
          }
        }
        .nav-link-whats-on{
          display: flex;
          justify-content: center;
          align-items: center;
          width:16%;
          height: 50px;
        }
        .nav-link-whats-on:hover{
          background-color: rgba(232, 107, 23, 0.6);
          border-left: rgba(232, 107, 23, 1) solid 3px;
          // color: white;
          transition: background-color 0.80s;
          .nav-link{
            margin-left: -3px;
          }
        }
        .nav-link-contact-us{
          display: flex;
          justify-content: center;
          align-items: center;
          width:16%;
          height: 50px;
        }
        .nav-link-contact-us:hover{
          background-color: rgba(176, 125, 242, 0.7);
          border-left: rgba(119, 32, 233, 1) solid 3px;
          // color: white;
          transition: background-color 0.80s;
          .nav-link{
            margin-left: -3px;
          }
        }
      }
    }
  }
}


// * CHILD PROTECTION
.childprotection{
  margin-top: 218px;
  // * Beliefs
  .believe{
    margin-bottom: 20px;
  }
  .beliefs ul li {
    list-style: circle;
    text-indent: 46px;
    width: 70%;
    padding: 2px;
    span {
      margin-left: 44px;
    }
  }
  .order-one{
    margin-top: 20px;
    ol li {
      width: 70%;
    }
    ol li:last-child{
      margin-top: 14px;
    }
  }
  // * STAFFING POLICIES
  .staffing-policies {
    margin-top: 24px;
    ol {
      margin-top: 12px;
      margin-left: 36px;
    }
    ol li {
      padding: 4px;
    }
  }
  // * CONDUCTS
  .conduct{
    margin-top: 24px;
    ol {
      margin-top: 12px;
      margin-left: 36px;
    }
    ol li {
      padding: 4px;
      ul li {
        list-style: square;
        margin-left: 36px;
      }
      ul li:first-child {
        margin-top: 10px;
      }
    }
  }
}

// * PRIVACY POLICY
.privacy {
  margin-top: 220px;
  .p-statements p {
    margin-bottom: 16px;
    padding: 4px;
    width: 90%;
  }
  .p-statements h3 {
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .p-statements ul li {
    list-style: circle;
    padding: 4px;
    margin-left: 36px;
  }
}

// * EVENT


// * CONTACT
.contact-us {
  margin-top: 225px;
  .sub-form iframe {
    width: 570px;
    height: 550px;
    margin: auto;
    padding: 12px;
  }
  .contact-form {
    margin: auto;
    padding: 12px;
    width: 100%;
  }
  .contact-background {
    background-image: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/cumulus-cloud.jpg/cumulus-cloud.jpg/metofficegovuk%3AheroMedium');
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    opacity: 1;
  }
}


//* LOGIN
.login{
margin-top: 300px;
}

//* EVENT EDIT
.event-edit{
  margin-top: 200px;
}

// * BOX CARDS

.after-school {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://thelittlesandme.com/wp-content/uploads/2018/04/ChalkPromptsCards-8-of-7.jpg');
  height: 150px;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  p {
    margin-top: 30px;
    color: white;
  }
}
.after-school:hover {
  opacity: 1;
  cursor: pointer;
}

.sports-coaching {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://arkpriory.org/sites/default/files/shutterstock_1396798973.jpg');
  height: 150px;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  p {
    margin-top: 30px;
    color: white;
  }
}
.sports-coaching:hover {
  opacity: 1;
  cursor: pointer;
}

.small-groups {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://www.cbc.ca/kidscbc2/content/contests/kids-colouring-Twenty20.jpg');
  height: 150px;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  p {
    margin-top: 30px;
    color: white;
  }
}
.small-groups:hover {
  opacity: 1;
  cursor: pointer;
}

.one-to-one {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://ak.picdn.net/shutterstock/videos/12246446/thumb/7.jpg');
  height: 150px;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  p {
    margin-top: 30px;
    color: white;
  }
}
.one-to-one:hover {
  opacity: 1;
  cursor: pointer;
}

.birthday-parties {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://media.socastsrm.com/wordpress/wp-content/blogs.dir/1050/files/2019/08/082619-1.jpg');
  height: 150px;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  p {
    margin-top: 30px;
    color: white;
  }
}
.birthday-parties:hover {
  opacity: 1;
  cursor: pointer;
}

.breakfast-club {
  background-image: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('https://paisleyprimaryschool.org.uk/wp-content/uploads/2015/07/o-SMILEY-BREAKFAST-facebook.jpg');
  height: 150px;
  background-size: cover;
  text-align: center;
  opacity: 0.8;
  p {
    margin-top: 30px;
    color: white;
  }
}
.breakfast-club:hover {
  opacity: 1;
  cursor: pointer;
}